
<!DOCTYPE html>
<html>
<head>
    <title>À propos</title>
</head>

<body>
<h1 >Amina Atmane</h1>
<p > Cours : 420-5b7 MO Applications internet <br/>Coll&eacute;ge Montmorency, Automne 2019<br/>
</p> 
</br>

<table border="1" cellpadding="5" cellspacing="0" width="40%" class="tabcenter">
   <tr align="center"> 
      <td valign="center" >
		   Voici le diagramme original &agrave; partir duquel ma BD a &eacute;t&eacute; concue. Prendre en note que des modifications 
		   ont &eacute;tait apportee. </br></br>
           Diagramme original : 
				<a href="http://www.databaseanswers.org/data_models/hotels/index.htm" target="_blank"> Hotels resevations</a>  
				</td> 
      <tr> <td align="center" valign="top"><img src="DbHotel.PNG" alt="" width="650" height="550" /></td> </tr>
</table>
</br></br>

<table border="1" cellpadding="5" cellspacing="0" width="40%" class="tabcenter">
   <tr align="center"> 
      <td valign="center" >
		Voici le diagramme de la BD qui a &eacute;t&eacute; con&ccedil;ue &agrave; partir du diagramme original. 
				</td> </tr>
      <tr> <td align="center" valign="top"><img src="BD.png" alt="" width="700" height="500"  /></td> </tr>

</table>
<h1 style="text-align:center;">Fonctionnement du site </h1>
<ol>
  <li>Enrgistrement d'utilisateur </li>
  <li>Menu avec infos sur l'utilisateur </li>
  <li>Traduction i18n en français et Allemagne</li>
  <li>Téléversement et affichage d'images liées aux hotels</li>
  <li>Envoi d'un courriel de confirmation avec UUID	</li>
  <li>Utlisation de Migrations et de SQLite	</li>
</ol>

</body>
</html>
